<%- include('partials/header.ejs') %>

<main>
    <div class="postingan-grid">
        <% if (posts && posts.length > 0) { %>
            <% posts.forEach((post, index) => { %>
                <div class="postingan">
                    <div class="postingan-content">
                        <h2><%= post.title %></h2>
                        <p><%= post.Description %></p>
                    </div>
                    <div class="postingan-button">
                        <button type="button" class="postingan-button-view">View More</button>
                        <button type="button" class="postingan-button-edit
                        "><a href="/articles/<%= post.id %>/edit">Edit</a></button>
                        <!-- Tombol Delete -->
                        <form action="/articles/<%= post.id %>?_method=DELETE" method="post">
                            <button type="submit" class="postingan-button-delete">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No posts available</p>
        <% } %>
    </div>
</main>



<%- include('partials/footer.ejs') %>